<html>
    <head>
        
        <link href="style.css" type="text/css" rel="stylesheet" />
        
    </head>
    
    <body>
    
        <h1>Home Page From EJS Nightlife Coordination</h1>
    
    
    </body>



</html>


