<html>
    <head>
        
        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        
        <!-- THE NEXT THREE ARE BOOTSTRAP -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
        
        <link href="style.css" type="text/css" rel="stylesheet" />
        
        
        <script>
        
            $(document).ready(function() {
                
                //Set counter to 0
                var count = 0;
                
                //When the user searches....
                $(".search").click(function() {
                    
                    var business;
                    
                    //Grab the query
                    var query = $(".query").val();
                    
                    //Put the query into an object
                    var data = {
                        query: query
                    }
            
                    
                    //Send the query to our server
                    $.get("/searchapi", data, function(data) {
                        
                        //Get the response from the server
                        var business = data.business;

                        //Clear search just in case there is a previous previous search showing
                        $(".results").html("");

                        //Then loop over list of business results and append it to current page
                        for (var i in business) {

                            $(".results").append(

                                "<div class='media'>" + 

                                "<div class='media-left'>" +
                                    "<a href='#'>" +
                                        "<img class='media-object' src='" + business[i].img + "'>" +
                                    "</a>" +
                                "</div> <!-- end media left -->" + 

                                "<div class='media-body'>" +
                                    "<h3 class='media-heading'>" + business[i].name + "</h3> " + 
                                    "<button data-internalid='" + business[i].bar_id + "'type='button' class='btn btn-primary btn-xs button'>0 Going</button>" + 
                                    "<p>" + business[i].preview + "</p>" + 
                                "</div> <!-- end media body -->" +


                                "</div> <!-- end media -->"

                            ); //End results.append

                        }; //End for statement
                            
 
                    }); //End get
                     
                    
                }); //End $(".search").click()
                
                
                $(".login").click(function() {
                    
                    //Grab the query
                    var query = $(".query").val();
                    
                    window.location.href = "/login/twitter?query=" + query;
                    
                });
                
                
                $(".results").on("click", ".button", function() {
                    
                    var bar_id = $(this)[0].dataset.internalid;
                    var bar_button = this;
                    
                    
                    $.get("/barupdate", { bar_id: bar_id }, function(data) {
                    
                        //If not logged in then redirect to login
                        if (data.login === "no") {
                            var query = $(".query").val();
                            
                            document.location.href = "/login/twitter?query=" + query;
                        }
                        else {
                            
                            //If update is successful then change icon to showing 1 more person going                  
                            var going = data.going;
                        
                            $(bar_button).html(going + " going");
                            
                        }
                        
                        
                           
                    });
                    
                    
 
                });
                
            }); //End document
        
        
        
        </script>
        
        
        
        
    </head>
    
    <body>
        
        <div class="container-fluid">
        
            
            <div class="row heading">
                
                <div class="title col-md-6">
                    <h1>Nightlife Coordination App</h1>
                </div> <!-- end title -->

                <div class="navlinks col-md-6">
                    <ul class="nav nav-pills login_out">
                        <% if (login === "no") { %>
                                <li role="presentation" class="active login"><a href="#">Login With Twitter</a></li>
                       <% } else { %>
                                <li role="presentation" class="active login"><a href="/logout">Logout</a></li>
                         <% } %>
                    </ul>
                </div> <!-- end navlinks -->
                
                
            
            </div> <!-- end heading -->
            
            
            <div class="row search_bar">
            
                <div class="col-lg-6">
                    
                    <div class="input-group">
                        <input type="text" class="form-control query" placeholder="Search bars in your area">
                        <span class="input-group-btn">
                            <button class="btn btn-default search" type="button">Search</button>
                        </span>
                    </div> <!-- end input group -->
    
                </div> <!-- end col lg 6 --> 
                
            </div> <!-- end row -->
            
            
            
            <div class="results">
                
            
            </div> <!-- end results -->
        
            
            
        </div> <!-- end fluid container -->
    
    </body>



</html>




