<html>
    <head>
        
        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        
        <!-- THE NEXT THREE ARE BOOTSTRAP -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
        
        <link href="style.css" type="text/css" rel="stylesheet" />
        
        
        <script>
        
            $(document).ready(function() {
                
                //When the user searches....
                $(".search").click(function() {
                    
                    //Grab the query
                    var query = $(".query").val();
                    
                    //Put the query into an object
                    var data = {
                        query: query
                    }
                    
                    console.log(data);
                    
                    //Send the query to our server
                    $.get("/searchapi", data, function(data) {
                        
                        console.log(data);
                        
                        
                    }); //End get
                    
                    
                });
                
                
                
            }); //End document
        
        
        
        </script>
        
        
        
        
    </head>
    
    <body>
        
        <div class="container-fluid">
        
            <h1>Nightlife Coordination App</h1>
            
            <div class="row">
            
                <div class="col-lg-6">
                    
                    <div class="input-group">
                        <input type="text" class="form-control query" placeholder="Search bars in your area">
                        <span class="input-group-btn">
                            <button class="btn btn-default search" type="button">Search</button>
                        </span>
                    </div> <!-- end input group -->
    
                </div> <!-- end col lg 6 --> 
                
            </div> <!-- end row -->
            
            
            
            <div class="results">
                
                <% for (var i in business) { %>

                    <div class="media">

                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="<%= business[i].img %>">
                            </a>
                        </div> <!-- end media left -->

                        <div class="media-body">
                            <h3 class="media-heading"><%= business[i].name %></h3>
                            <p><%= business[i].preview %></p>
                        </div> <!-- end media body -->


                    </div> <!-- end media -->

                <% } %>

            </div> <!-- end results -->
        
            
            
        </div> <!-- end fluid container -->
    
    </body>



</html>


