body {
    margin: 50px;
    background: #273b46;

}


.heading {
    color: #d9e4e9;
    border-bottom: solid;
}


.login_out {

    margin-top: 15px;
}

.login_out li {
    margin-left: 200px;
}

.search_bar {
    margin-top: 20px;
}

input.query {
    background: #e4ecef;
}

.results {

    margin-top: 30px;
}

.media {
    border-left: solid;
    border-color: #52626b;
    border-left-width: 5px;
    padding: 10px;
    margin: 25px;

}

h3 {
    /*display: inline; */
    color: #1793ce;
}

.button {
    margin: 5px;
}

.preview {
    color: #82acc6;
    
}














