body {
    border: solid;
    margin: 50px;
}

h3 {
    display: inline;
}

.heading {
    border-bottom: solid;
}

.title {

}

.navlinks {

}

.login_out {

    margin-top: 15px;
}

.login_out li {
    margin-left: 200px;
}

.search_bar {
    margin-top: 20px;
}

.results {
    margin-top: 20px;
}